{
    "env": {
        "react-native/react-native": true
      },
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "settings": {
        "react": {
          "version": "16"
        }
      },
      "globals": {
        "it": true
      },
      "plugins": ["react", "react-native"],
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "react-native"
      ],
      "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "single"],
        "react/prefer-stateless-function": 0,
        "class-methods-use-this": 0,
        "react-native/no-color-literals": 0,
        "import/no-commonjs": 0,
        "import/no-nodejs-modules": 0
      }
}
